<footer role="contentinfo">

	<div class="container-fluid">

		<div style="padding: 10px 20px; display: inline-block; text-align: center;">
		<h2>GET IN TOUCH</h2>
		<p>
			<i style="padding: 0 10px;" class="fa fa-phone fa-lg"></i>Call&nbsp;us&nbsp;on&nbsp;<a style="font-size: 1.1em; font-weight: bolder;" href="tel:+14168046457">+1&nbsp;416-804-6457</a>
		</p>
		<p>
			<i style="padding: 0 10px;" class="fa fa-envelope fa-lg"></i>Email&nbsp;us&nbsp;<a style="font-size: 1.1em; font-weight: bolder;" href="mailto:info@happykidsfamily.ca">info@happykidsfamily.ca</a> 
		</p>
		</div>
	</div>
</footer>