<nav class="navbar navbar-toggleable-sm navbar-light">
	<!--<div class="container">-->
	<button class="navbar-toggler navbar-toggler-right" type="button"
		data-toggle="collapse" data-target="#navbarNavDropdown"
		aria-controls="navbarNavDropdown" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand"
		href="{{site.baseurl}}/index"><img style="height: 5rem;" src="{{ site.baseurl }}/logo_header.png" /></a>
	<div class="collapse navbar-collapse" id="navbarNavDropdown" style="background: white;">
		<ul class="nav navbar-nav ml-auto w-100 justify-content-end">
			<li class="nav-item"><a class="nav-link"
				href="{{site.baseurl}}/about">About Us</a></li>

			<li class="nav-item"><a class="nav-link"
				href="{{site.baseurl}}/providers">Providers</a></li>

			<li class="nav-item"><a class="nav-link"
				href="{{site.baseurl}}/parents">Parents</a></li>

			<li class="nav-item"><a class="nav-link"
				href="{{site.baseurl}}/contact">Contact</a></li>

		</ul>
	</div>
</nav>
